@import url(padrao.css);

.container-titulo {
    margin-top: 100px;
    margin-bottom: 10px;
}

.container-titulo> h1 {
    display: block;
    max-width: 300px;
    margin: auto;
    font-size: 57px;
    text-transform: uppercase;
    color: var(--cor4);
}

.container-titulo hr{
    max-width: 450px;
    background-color:var(--cor4);
    height: 2px;
    border: none;
    border-radius: 20px;
    margin: auto;
}

.fundo-dourado {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-image: linear-gradient(to top, #784806, #C68416, #D4A728, #905D0A);
}

section.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 100px 0 ;

}

section.container-texto p {
    font-size: 45px;
    font-family: Teko, sans-serif;
    color: var(--cor4);
    
}

