@import url(padrao.css);

h3{
font-size: 25px;
}

.container-texto{
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 100px;
    max-width: 500px;
    text-align: justify;
}