@import url(padrao.css);


.container-hero{
    background-color: var(--cor2);
    background-image: url(../imagens/9780501.jpg);
    background-attachment: fixed;
}

section.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1120px;
    height: 70vh;
    padding: 0px 32px;
    align-items: center;
    gap: 96px;
    margin: auto;

}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-conteudo >h1{
    font-family: Montserrat, sans-serif;
    font-size: 52px;
}

.hero-conteudo>hr{
    border-color: var(--cor4);
}

.hero-conteudo >h2{
    font-size: 1.25rem;
    font-weight: 500;
    
}

div.hero-container-imagem{
    margin-top: 10px;
    height: 98%;
}

div.hero-container-imagem>img{
    height: 100%;
}

.container-lista h2{
    font-family: Teko, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    color: var(--cor4);
}

section.slider{

    position: relative;
    margin-top: 100px;
    width: 98.9vw;
    height: 350px;
    overflow: hidden;

}

div.slider-content{
    width: 400%;
    height: 350px;
    display: flex;
}

div.slider-content input{
    display: none;
}

.slidebox{
    width: 25%;
    position: relative;
}

.slidebox img{
    width: 100%;
    height: 100%;
}

.nav-manual{
   
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: black;
}

.nav-auto{
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;

    color: gray;

}

.manual-btn{
    border: 2px solid var(--cor2);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.manual-btn:hover{
    background-color: var(--cor6);
}

#radio1:checked ~ .primeiro{
    margin-left: 0;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
    transition-duration: 1.5s;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
    transition-duration: 1.5s;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
    transition-duration: 1.5s;
}

.nav-auto div{
    border: 2px solid var(--cor6);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}



#radio1:checked ~ .nav-auto .auto-btn1{
    background-color:var(--cor6);
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color:var(--cor6);
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color:var(--cor6);
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color:var(--cor6);
}

section.container-lista>ul{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

section.container-lista >ul>li{
    background-image: linear-gradient(to left, #784806,#C68416,#D4A728,#905D0A);
    padding: 50px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.32);
}

section.container-lista >ul>li:hover{
    background-image: linear-gradient(to left, #78490641,#c6851640,#d4a62839,#905d0a3c);
    transition-duration: 1s;
}

@media screen and (min-width: 768px) and (max-width: 992px){

    section.slider{
        height: 350px;
    }
    
    div.slider-content{
        height: 350px;
    }

    section.container-lista >ul>li{
        padding: 30px;
        font-size: 18px;
    }

    .hero-conteudo >h1{
        font-size: 32px;
    }
    
    .hero-conteudo >h2{
        font-size: 18px;
    }

    section.hero{
        
        gap: 65px;
        
    }

    

}

@media screen and (max-width: 768px){


    section.slider{
        display: none;
    }
    
    div.slider-content{
        display: none;
    }

section.container-lista>ul{
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
}

section.container-lista>ul:last-child{
    margin-bottom: 20px;
}

section.container-lista >ul>li{
    padding: 20px;
    text-align: center;
}

section.hero{
    height: 40vh;
    gap: 50px;
    margin-bottom: 100px;
}

.hero-conteudo{
    margin-top: 10px;
    gap: 10px;
}

.hero-conteudo >h1{
    font-size: 20px;
}

.hero-conteudo >h2{
    font-size: 12px;
}

div.hero-container-imagem{
    height: 96%;
}

.slidebox img{
    width: 245%;
}

.nav-auto div{
    display: none;
}

.manual-btn{
    display: none;
}


}




